<navigation-menu></navigation-menu>	
<div class="container">
	<message></message>
	<div class="row">
		<div class="col-xs-12 mainData">
			<form ng-submit="newSearch()">
				<h4 class="formHeadline">Advanced search</h4>
				<div class="form-group form-button">
					<label for="country">From Date</label>
					<input type="text" ng-click='open1($event)' class="calendar-form campaign-form-calendar-input" id='campaign-date' datepicker-popup="dd/MM/yy" ng-model="fromDate" is-open="opened1" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder='I am busy from date' required/>
					<button type="button" class="btn btn-default" ng-click="open1($event)"><i class="glyphicon glyphicon-calendar"></i></button>	
				</div>
				<div class="form-group form-button">
					<label for="country">To Date</label>
					<input type="text" ng-click='open2($event)' class="calendar-form campaign-form-calendar-input" id='campaign-date' datepicker-popup="dd/MM/yy" ng-model="toDate" is-open="opened2" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder='I am busy until date' required/>
					<button type="button" class="btn btn-default" ng-click="open2($event)"><i class="glyphicon glyphicon-calendar"></i></button>	
				</div>
				<div class="form-group">
					<label for="country">Country:</label>
					<select  class="form-control" ng-model="country" ng-change="getCitiesByCountry(country)" ng-options="x.name for x in countries | orderBy:'name'">
						<option value="">{{country.name}}</option>
					</select>
				</div>
				<div class="form-group">
					<label for="city">City:</label>
					<select class="form-control" ng-show="cities" ng-model="city" ng-options="x.city for x in cities | orderBy:'city'">
						<option value="">{{city.city}}</option>
					</select>
					<select class="form-control" ng-show="!cities">
						<option>No cities - choose a country first</option>
					</select>
				</div>
				<div class="form-group">
					<label for="language">Language:</label>
					<select class="form-control" ng-model="language">
					    <option>English</option>
					    <option>Hebrew</option>
					    <option>Arabic</option>
					    <option>Spanish</option>
					    <option>French</option>
					    <option>Italian</option>
					    <option>German</option>
					    <option>Chines</option>
					    <option>Japanese</option>
					    <option>Hindi</option>
					    <option>Russian</option>
					    <option>Czech</option>
					    <option>Greek</option>
					    <option>Korean</option>
					    <option>Romanian</option>
					    <option>Thai</option>
					    <option>Portuguese</option>
					    <option>Vietnamese</option>
					    <option>Turkish</option>
					</select>
				</div> 
				<div class="form-button">
					<button type="submit" value="create" class="btn btn-success">Search</button>
				</div>			
			</form>
			<div class="form-button">
				<button class="btn btn-default" ng-click="clearSearchResults()">Clear search</button>
			</div>
		</br>
		</div>
	</div>
	</br>
	</br>
	<div class="row" ng-show="guides.length > 0" ng-repeat="guide in guides | orderBy:'-grade'">
		<div class="col-xs-12">
			<div class="thumbnail form-button">
				<div class="row">
					<div class="col-xs-4">
			    		<span class="profile-mini-header">{{guide.firstName}} {{guide.lastName}}</span>
					    <p ng-show="guide.grade">
					    	<span class="glyphicon glyphicon-star" ng-if="guide.grade >= 1"></span>
						  	<span class="glyphicon glyphicon-star" ng-if="guide.grade >= 2"></span>
						  	<span class="glyphicon glyphicon-star" ng-if="guide.grade >= 3"></span>
						  	<span class="glyphicon glyphicon-star" ng-if="guide.grade >= 4"></span>
						  	<span class="glyphicon glyphicon-star" ng-if="guide.grade >= 5"></span>
					    	<span class = "review-time">(Out of {{guide.numOfReviews}} reviews)</span> 
					    </p>
					    <p ng-show="!guide.grade" class="review-time">No review</p>
					    <a ng-href="#/guideProfile/{{guide.userId}}"><img ng-src="static/uploads/{{guide.photo}}" alt="static/style/noImage.png" class="img-circle" style="width: auto; height: auto; max-width:10vw; max-height:10vw;"></a>	     
					</div>
					<div class="col-xs-4">
						<span class="profile-mini-header">Tour locations</span>
						<p ng-repeat="loc in guide.locs | limitTo:4" class="profile" ng-show="guide.locs.length > 0">
						  	{{loc.city}},{{loc.country}}
						</p>
						<p class="profile" ng-show="locs.length == 0">
						  	No locations were entered
						</p>
					</div>
					<div class="col-xs-4">
						<span class="profile-mini-header">Tour languages</span>
						<p ng-repeat="lang in guide.langs | limitTo:4" class="profile" ng-show="guide.langs.length > 0">
						  	{{lang.languageName}}
						</p>
						<p class="profile" ng-show="languages.length == 0">
						  	No languages were entered
						</p>
					</div>
				</div>
			</div>		
		</div>
	</div>
	<div class="row mainData profile-mini-header" ng-show="guides.length == 0">
		<div class="col-xs-12">
			 Search results were not found
		</div>
	</div>
</div>