<navigation-menu></navigation-menu>	
<div class="container">
	<message></message>
	<div class="row" ng-repeat="guide in guides | orderBy:'-grade'">
		<div class="col-xs-12">
		   <a ng-href="#/guideProfile/{{guide.userId}}">
			<div class="thumbnail form-button">
				<div class="row">
					<div class="col-xs-4">
			    		<span class="profile-mini-header">{{guide.firstName}} {{guide.lastName}}</span>
					    <p ng-show="guide.grade">
					    	<span class="glyphicon glyphicon-star" ng-if="guide.grade >= 1"></span>
						  	<span class="glyphicon glyphicon-star" ng-if="guide.grade >= 2"></span>
						  	<span class="glyphicon glyphicon-star" ng-if="guide.grade >= 3"></span>
						  	<span class="glyphicon glyphicon-star" ng-if="guide.grade >= 4"></span>
						  	<span class="glyphicon glyphicon-star" ng-if="guide.grade >= 5"></span>
					    	<span class = "review-time">(Out of {{guide.numOfReviews}} reviews)</span> 
					    </p>
					    <p ng-show="!guide.grade" class="review-time">No reviews</p>
					    <img ng-if="guide.photo" ng-src="static/uploads/{{guide.photo}}" class="img-circle" style="width: auto; height: auto; max-width:10vw; max-height:10vw;">	     
					    <img ng-if="!guide.photo" src="static/uploads/nouser.jpg" class="img-circle" style="width: auto; height: auto; max-width:10vw; max-height:10vw;">
					</div>
					<div class="col-xs-4">
						<span class="profile-mini-header">Tour locations</span>
						<p ng-repeat="loc in guide.locs | limitTo:4" class="profile" ng-show="guide.locs.length > 0">
						  	{{loc.location}}
						</p>
						<p class="profile" ng-show="locs.length == 0">
						  	No locations were entered
						</p>
					</div>
					<div class="col-xs-4">
						<span class="profile-mini-header">Tour languages</span>
						<p ng-repeat="lang in guide.langs | limitTo:4" class="profile" ng-show="guide.langs.length > 0">
						  	{{lang.languageName}}
						</p>
						<p class="profile" ng-show="languages.length == 0">
						  	No languages were entered
						</p>
					</div>
				</div>
			    </a>
			</div>		
		</div>
	</div>
</div>

