<navigation-menu></navigation-menu>	
<div class="container">
	<message></message>
	<div class="row">
		 <div class="col-xs-12 mainData">
			<form ng-submit="submitCountryCity()">
				<h4 class="formHeadline">Add your tour locations</h4>
				<div class="form-group">
					<label for="country">Location:</label>
					<input type="text" class="form-control" required ng-model="tourLocation" googleplace>
				</div>
				<div class="form-button">
					<button type="submit" value="create" class="btn btn-primary">Add</button>
				</div>
				</br>
				<div class="form-button">
					<a ng-href="#/guideProfile/{{userId}}" class="btn btn-info" role="button">Finish</a>
				</div>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 mainData" ng-show="locations.length > 0">
			<div class="table-responsive">          
				<table class="table centered-table">
					<thead>
						<tr>
							<th class="centered-table">Location</th>
							<th class="centered-table">Remove Location</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="loc in locations | orderBy:'loc.location'">
							<td>{{loc.location}}</td>
							<td>
								<span ng-click="removeLocation(loc.location)" class="glyphicon glyphicon-remove">
								</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
