<navigation-menu></navigation-menu>	
	<div class="container">
		<message></message>
		  	<div class="row cen">
		  		<div class="col-xs-12">
			  		<form ng-submit="submitGuideForm()">
				   		<div class="form-group">
					  		<div><input ng-model="searchData" googleplace class="form-control bold-font" placeholder="Where do you want to travel?..."/></div>
						</div>
						<button type="submit" value="create" class="btn-lg btn-success main-bold-font " ng-click="search()">Search</button>
					</form>
					</br>
					</br>
			</div>
		</div>
		</br>
		</br>
		</br>
		</br>
	</div>
