<navigation-menu></navigation-menu>	
<div class="container">
	<message></message>
	<div class="row">
		<div class="col-xs-12 mainData">
			<form ng-submit="submitUserForm()" name="userForm">
			  	<h4 class="formHeadline">User Sign Up</h4>
				<div class="form-group">
					<label for="usr">First name:</label>
					<input type="text" class="form-control" ng-model="firstName" required>
				</div>
				<div class="form-group">
					<label for="usr">Last name:</label>
					<input type="text" class="form-control" ng-model="lastName" required>
				</div>
				<div class="form-group">
					<label for="usr">Email:</label>
					<input class="form-control" ng-model="email" required type="email">
				</div>
				<div class="form-group">
					<label for="usr">User Name:</label>
					<input type="text" class="form-control" ng-model="userName"required>
				</div>
				<div class="form-group">
					<label for="pwd">Password:</label>
					<input type="password" class="form-control" ng-model="password" required>
				</div>
				<div class="form-group">
					<label for="pwd">Re-enter password:</label>
					<input type="password" class="form-control" ng-model="password2" required>
					<span ng-show="password != password2">The passwords that you have entered are not identical</span>
				</div>
				<div class="form-button">
					<button type="submit" value="create" ng-disabled='password != password2' class="btn btn-primary">Continue</button>
				</div>
			</form>
		</div>
	</div>
</div>