<html>
<head>
	<meta name=viewport content="width=device-width, initial-scale=1" http-equiv="X-UA-Compatible">
	<link href='https://fonts.googleapis.com/css?family=Frijole' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,600,700' rel='stylesheet' type='text/css'>

	<link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Nunito:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBfRGsfW77zk5r4nLXtnujFQcHoXKmxanM&libraries=places&types=(cities)&language=en-AU"></script>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  	<script src="{{url_for('static', filename='js/angular.min.js')}}"></script>
  	<script src="{{url_for('static', filename='js/angular-route.min.js')}}"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js'></script>
        <link rel=stylesheet type=text/css href="{{url_for('static', filename='style/style.css')}}">  
        <link rel="stylesheet" media="(min-width:650px) and (max-width:800px)" href="{{url_for('static', filename='style/responsiveStyle.css')}}">
        <link rel="stylesheet" media="(min-width:350px) and (max-width:650px)" href="{{url_for('static', filename='style/responsiveStyle2.css')}}">
        <link rel="stylesheet" media="(max-width: 350px)" href="{{url_for('static', filename='style/responsiveStyle3.css')}}">
        <link rel="stylesheet" media="(min-width:1450px)" href="{{url_for('static', filename='style/responsiveStyle4.css')}}">
</head>
<body class="full" ng-app="TourGuideApp">
		{% block content %}
		{% endblock %}
</body>
</html>
